@charset "utf-8";
.dynamics-cont .more,.aboutNav-list li i{background-position:-63px -43px;}
.dynamics-cont .more:hover,.aboutNav-list li.active i,.aboutNav-list li:hover i{background-position:-63px -60px;}
/*--------------------首页--------------------*/
.index-header{height:540px;}
/*--焦点轮播图--*/
.qj-carsousel {height:540px;position:absolute; width:100%;min-width:1000px;overflow:hidden;z-index:90;top:0;left:0;}/*层级90*/
/*图*/
.qj-carsousel-pic { height:100%;position:absolute; left:0; top:0;z-index:95;width:100%;}/*层级95*/
.qj-carsousel-pic li {height:100%; display:inline;float:left;width:100%;opacity:0; filter:alpha(opacity:0);position:absolute; left:0; top:0;}
.qj-carsousel-pic li a { width:100%; height:100%; float:left;}
.qj-carsousel-pic li.bg_01{background:url(../img/banner_1.jpg) no-repeat center;}
.qj-carsousel-pic li.bg_02{background:url(../img/banner_2.jpg) no-repeat center;}
/*按钮*/
.qj-carsousel .btn-wrap{position:relative;height:100%;z-index:100;}/*层级100*/
.qj-carsousel-prev,.qj-carsousel-next {width:40px; height:40px; position:absolute; top:50%; margin-top:-20px;z-index:1000;display:none;}/*层级100*/
.qj-carsousel-prev {left:-40px;}
.qj-carsousel-next { right:-40px; background-position:-40px 0;}
.qj-carsousel-btn { height:17px;position:absolute;right:0;bottom:20px;overflow:hidden;z-index:100;}/*层级100*/
.qj-carsousel-btn li {cursor:pointer;display:inline;float:left; margin-right:16px; width:17px;height:17px;background-position:0 -56px;overflow:hidden;text-indent:-999em;}
.qj-carsousel-btn li.on {background-position:-17px -56px;width:34px; }
/*--主体内容--*/
.bg-grey{background:#ebebeb;}
.cont-tit{height:60px;line-height:60px;font-size:20px;color:#070707;position:relative;}
/*交易参考*/
.reference-cont{width:275px;}
.reference-list{margin-right:-5px;}
.reference-list li{overflow:hidden;display:inline;float:left;font-size:16px;width:135px;margin:0 5px 5px 0;height:56px;line-height:56px;background:url(../img/icon_01.png) 20px 0 no-repeat #fff;_background-image:url(../img/_icon_01.png)}
.reference-list .icon_1{background-position:20px -1px;}
.reference-list .icon_2{background-position:20px -38px;}
.reference-list .icon_3{background-position:20px -74px;}
.reference-list .icon_4{background-position:20px -108px;}
.reference-list .icon_5{background-position:20px -144px;}
.reference-list .icon_6{background-position:20px -181px;}
.reference-list a{float:left;width:95px;height:100px;padding-left:40px;}
.reference-list li:hover{box-shadow:0 0 8px #c8c6c6;-ms-box-shadow:0 0 8px #c8c6c6;-moz-box-shadow:0 0 8px #c8c6c6;}
/*中心动态*/
.dynamics-cont{width:565px;margin:0 20px;}
.dynamics-cont .dynamics-list{height:155px;}
.dynamics-cont .more{overflow:hidden;width:17px;height:17px;position:absolute;right:10px;top:50%;margin-top:-8px;}
/*登录*/
.login-cont{width:200px;overflow:hidden;zoom:1;}
.login-cont .login-btn{width:200px;height:79px;display:block;text-indent:-999em;background:url(../img/login_btn.png) no-repeat;_background-image:url(../img/_login_btn.png);margin-bottom:20px;}
.login-cont .login-btn:hover{box-shadow:0 0 8px #c8c6c6;-ms-box-shadow:0 0 8px #c8c6c6;-moz-box-shadow:0 0 8px #c8c6c6;}
.login-cont .trade-btn{background-position:0 -99px;}
/*交易大厅*/
.tab-wrap .next-btn,.tab-wrap .prev-btn{position:relative;height:52px;width:20px;background-color:#ff6a00;text-indent:-999em;}
.tab-wrap .tradeRoom-list{margin-bottom:10px;border-top:2px solid #fd890e;border-bottom:2px solid #fd890e;width:1040px;color:#595959;font-size:18px;}
.tab-wrap .tradeRoom-list li{padding:0 40px;margin-right:20px;height:48px;line-height:48px;position:relative;}
.tab-wrap .tradeRoom-list .triangle{display:none;}
.tab-wrap .tradeRoom-list li.active,.tab-wrap .tradeRoom-list li:hover{background:#fd890e;color:#fff;cursor:pointer;}
.tab-wrap .tradeRoom-list li.active .triangle,.tab-wrap .tradeRoom-list li:hover .triangle{display:block;border-top-color:#fd890e;position:absolute;bottom:-7px;left:50%;margin-left:-5px;}
.tab-wrap .next-btn .triangle,.tab-wrap .prev-btn .triangle{position:absolute;left:50%;margin-left:-5px;top:50%;margin-top:-5px;}
.tab-wrap .prev-btn .left{border-right-color:#fff;margin-left:-8px;}
.tab-wrap .next-btn .right{border-left-color:#fff;margin-left:-2px;}
.tab-wrap .tradeRoom-cont{width:100%;_height:213px;_overflow-y:scroll;_margin-top:10px;}
.tab-wrap .tradeRoom-cont table{width:100%;table-layout:fixed;overflow:hidden;}
.tab-wrap .tradeRoom-cont th{height:48px;line-height:48px;background:#ccc;font-size:16px;color:#454545;font-weight:normal;text-align:left;}
.tab-wrap .tradeRoom-cont td{height:54px;line-height:54px;border-bottom:1px solid #ccc;color:#000;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.tradeRoom-cont .col-1,.tradeRoom-cont .col-3{width:14%;padding:0 2%;}
.tradeRoom-cont .col-4,.tradeRoom-cont .col-5,.tradeRoom-cont .col-6,.tradeRoom-cont .col-7{width:9%;padding:0 1%;}
.tradeRoom-cont .col-2{width:18%;padding:0 1%;}

/*--------------------关于--------------------*/
.aboutNav-list li {height:56px;line-height:56px;border-bottom:1px solid #e6e6e6;color:#070707;font-size:16px;padding-left:17px;background-position:0 -126px;position:relative;float:left;width:218px;cursor:pointer;}
.aboutNav-list li a{float:left;width:100%;}
.aboutNav-list li.last{border:none;}
.aboutNav-list li.active a,.aboutNav-list li a:hover{cursor:pointer;color:#71adff;}
.aboutNav-list li i{overflow:hidden;width:17px;height:17px;position:absolute;right:0;top:50%;margin-top:-8px;}
.about-tit{height:60px;line-height:60px;border-bottom:1px solid #e6e6e6;font-size:20px;}
.cont-txt{color:#454545;line-height:26px;margin-bottom:25px;}
.about-dynamics-cont .dynamics-list{height:470px;overflow:hidden;}
.about-dynamics-cont .dynamics-list li{height:46px;line-height:46px;background-position:0 -101px;border-bottom:1px dashed #e6e6e6;}

