@charset "utf-8";
.reference-list li:hover,.partners-list li:hover{box-shadow:0 0 8px #c8c6c6;-ms-box-shadow:0 0 8px #c8c6c6;-moz-box-shadow:0 0 8px #c8c6c6;}
/*--------------------首页--------------------*/
.index-header{height:578px;}
/*--焦点轮播图--*/
.qj-carsousel {height:450px;position:absolute; width:100%;min-width:1000px;overflow:hidden;z-index:90;top:130px;left:0;}/*层级90*/
/*图*/
.qj-carsousel-pic { height:100%;position:absolute; left:0; top:0;z-index:95;width:100%;}/*层级95*/
.qj-carsousel-pic li {height:100%; display:none;float:left;width:100%;opacity:0; filter:alpha(opacity:0);position:absolute; left:0; top:0;z-index:96;}
.qj-carsousel-pic li a { width:100%; height:100%;display:block;position:relative;z-index:200;}
/**/
.qj-carsousel-pic li.bg_01{background:url(../img/banner_1.jpg) no-repeat center;}
.qj-carsousel-pic li.bg_02{background:url(../img/banner_2.jpg) no-repeat center;}
.qj-carsousel-pic li.bg_03{background:url(../img/banner_3.jpg) no-repeat center;}

/*按钮*/
.qj-carsousel .btn-wrap{position:relative;height:100%;z-index:100;height:37px;bottom:-412px;}/*层级100*/
.qj-carsousel-prev,.qj-carsousel-next {width:40px; height:40px; position:absolute; top:50%; margin-top:-20px;z-index:1000;display:none;}/*层级1000*/
.qj-carsousel-prev {left:20px;}
.qj-carsousel-next { right:20px; background-position:-40px 0;}
.qj-carsousel-btn { height:17px;position:absolute;right:0;bottom:20px;overflow:hidden;z-index:100;}/*层级100*/
.qj-carsousel-btn li {cursor:pointer;display:inline;float:left; margin-right:16px; width:17px;height:17px;background-position:0 -56px;overflow:hidden;text-indent:-999em;}
.qj-carsousel-btn li.on {background-position:-17px -56px;width:34px; }
@media only screen and (max-height: 700px) {
	.index-header{height:478px;}
	/*--焦点轮播图--*/
	.qj-carsousel {height:350px;}
	/**/
	.qj-carsousel-pic li.bg_01{background-image:url(../img/banner_01.jpg);}
	.qj-carsousel-pic li.bg_02{background-image:url(../img/banner_02.jpg);}
	.qj-carsousel-pic li.bg_03{background-image:url(../img/banner_03.jpg);}

	/*按钮*/
	.qj-carsousel .btn-wrap{bottom:-312px;}
}
/*--主体内容--*/
.bg-grey{background:#f6f6f6;}
.cont-tit{height:75px;line-height:75px;font-size:16px;color:#222;position:relative;padding-top:14px;}
.cont-tit .hj-tabNav{padding-right:18px;}
.cont-tit .tit_2{padding-left:18px;border-left:1px solid #dcdcdc;}
.cont-tit .active{color:#71adff!important;}
/*交易参考*/
.reference-cont{width:352px;}
.reference-list{margin-right:-12px;}
.reference-list li{overflow:hidden;display:inline;float:left;font-size:14px;width:168px;margin:0 12px 12px 0;height:53px;line-height:53px;background:url(../img/icon_01.png) 33px 0 no-repeat #fefefe;_background-image:url(../img/_icon_01.png);border:1px solid #dfdfdf;color:#222;}
.reference-list .icon_2{background-position:33px -38px;}
.reference-list .icon_3{background-position:33px -77px;}
.reference-list .icon_4{background-position:33px -115px;}
.reference-list .icon_5{background-position:33px -151px;}
.reference-list .icon_6{background-position:33px -189px;}
.reference-list a{float:left;width:102px;padding-left:66px;}

/*中心动态*/
.dynamics-cont{width:505px;margin:0 35px;color:#666;font-size:14px;}
.dynamics-list li.active .summary{display:none;}
.dynamics-list li.active .dynamics-details-wrap{display:block;}
.dynamics-cont .more{overflow:hidden;color:#999!important;font-size:10px;position:absolute;right:0;top:50%;line-height:75px;padding-top:14px;margin-top:-40px;}
.dynamics-list .summary{height:28px;line-height:28px;}
.dynamics-list .summary a{width:360px;color:#666;}
.dynamics-details-wrap{display:none;}
.dynamics-details{width:346px;}
.dynamics-details .tit{height:20px;color:#222;}
.dynamics-details p{line-height:24px;}
.dynamics-details .time{height:32px;line-height:32px;color:#999;font-size:12px;display:block;}
/*视频*/
.vedio-cont{width:273px;overflow:hidden;zoom:1;}
.vedio-wrap{position:relative;z-index:100;height:187px;}
.vedio-wrap a{position:absolute;left:0;top:0;width:100%;height:100%;z-index:101;}
.vedio-wrap .mask{display:block;width:273px;height:187px;position:absolute;left:0;top:0;background:url(../img/mask.png) no-repeat;_background:url(../img/_mask.png) no-repeat;z-index:102;}
.vedio-wrap a:hover .mask,.vedio-wrap a.active .mask{display:none;}
/*交易服务*/
.service-list {margin:0 -26px 53px 0;height:288px;}
.service-list li a,.service-list li p{width:246px;padding:0 16px;}
.service-list li{width:278px;height:286px;display:inline;float:left;border:1px solid #fff;position:relative;margin-right:26px;}
.service-list li:hover,.service-list li.active{text-decoration:none;border:1px solid #12498f;}
.service-list li:hover .tit,.service-list li.active .tit{color:#1968b3;}
.service-list li .tit{font-size:16px;padding-top:140px;height:30px;text-align:center;}
.service-list li p{height:114px;line-height:24px;color:#999;font-size:14px;text-align:center;}
.service-list li i{background:url(../img/icon_02.png);width:74px;height:62px;position:absolute;left:102px;top:50px;}
.service-list li .icon_2{background-position:0 -62px;}
.service-list li .icon_3{background-position:0 -124px;}
.service-list li .icon_4{background-position:0 -186px;}
/*合作伙伴*/
.partners-cont{padding-bottom:50px;}
.partners-list{margin-right:-15px;}
.partners-list li{width:228px;height:78px;background-color:#fff;display:inline;float:left;margin:0 15px 16px 0;}
.partners-list li a{width:100%;height:100%;float:left;}
/*--------------------关于我们--------------------*/
.about-man-tit{font-size:24px;text-decoration:underline;color:#333;height:48px;line-height:48px;padding-left:10px;}
.introduce-wrap{padding:58px 15px 30px 10px;width:1175px;}
.introduce-cont{background:#f5f5f5;border-radius:15px;}
.introduce-cont ul{width:324px;}
.introduce-cont li{width:104px;display:inline;float:left;margin-bottom:10px;color:#333;height:16px;line-height:16px; }
/*.introduce-cont li.li_2{width:124px;}*/
.introduce-cont li span{padding:0 12px;background:#dbe1ff;}
.introduce-text{width:780px;padding-left:30px;}
.position-table{width:100%;table-layout:fixed;border:1px solid #eee;overflow:hidden;}
.position-table th,.position-table td{width:48%;padding-left:2%;text-align:left;}
.position-table th{font-size:14px;color:#150f2a;background:#eee;height:37px;line-height:37px;}
.position-table td{padding-top:8px;padding-bottom:10px;background:#fff;}
.position-table td .cont{max-height:206px;overflow:auto;}
.position-cont{padding:0 28px 0 50px;}
.position-cont .hj-tabCont{position:relative;}
.position-cont .up-close{position:absolute;right:20px;top:10px;color:#6b6b6b;font-size:12px;_right:40px;}
.position-table p {line-height:30px;padding-left:12px;position:relative;zoom:1;/*background:#fff;*/overflow:hidden;}
.position-table p i{background-position:0 -121px;position:absolute;left:0;top:12px;width:5px;height:5px;overflow:hidden;}
.position-name{height:50px;line-height:50px;font-size:18px;color:#150f2a;}
.position-name li{padding-left:30px;position:relative;width:30%;display:inline;float:left;cursor:pointer;}
.position-name li .triangle{position:absolute;left:12px;top:50%;margin-top:-8px;border:8px dashed transparent;border-left:8px solid #1831a7;}
.position-wrap h4{color:#1968b3;font-size:24px;background-position:8px -160px;padding-left:50px;height:64px;line-height:64px;}
.position-name li.active .triangle{position:absolute;left:7px;top:50%;margin-top:-4px;border:8px dashed transparent;border-top:8px solid #1831a7;}
/*--------------------产品--------------------*/
.product-header .banner{background-image:url(../img/banner_5.jpg);}
.pro-container{background:#f6f6f6;padding:44px 0 30px;}
.product-wrap{background:#fdfbfb;padding-left:50px;padding-bottom:46px;}
.bg-gray{background:#eee;}
.product-wrap h3{width:261px;padding-left:22px;background:url(../img/tit_bg.png) no-repeat;height:63px;line-height:63px;position:relative;top:-12px;}
.product-wrap h3 .tit{display:block;width:100%;text-align:center;font-weight:bold;font-size:24px;color:#fff;}
.product-wrap .txt{color:#0f0f0f;line-height:24px;margin-top:24px;}
.product-wrap .list_1{margin-right:-20px;}
.product-wrap .list_1 li{margin-right:20px;width:308px;height:205px;background:url(../img/border_bg.png) no-repeat;line-height:24px;color:#81868b;display:inline;float:left;padding:32px 34px 0 22px;}
.product-wrap .msg{color:#1085d5;font-size:22px;text-align:center;margin-top:30px;}
.product-wrap .msg span{margin-right:60px;}
/*--------------------关于--------------------*/
.about-header .banner{background-image:url(../img/banner_6.jpg);height:165px;}
.about-container{background:#fafafc; }
.about-wrap{background:#f2f2f2;padding:0 50px 180px 32px;}
.about-wrap .top-tit{height:70px;line-height:70px;color:#333;font-size:18px;}
.aboutNav-list li {height:28px;line-height:28px;color:#333;position:relative;float:left;width:176px;background:#fff;margin-bottom:9px;cursor:pointer;text-align:center;}
.aboutNav-list li a{float:left;width:100%;}
.aboutNav-list li a.active,.aboutNav-list li a:hover{cursor:pointer;color:#71adff;}
.about-tit{height:60px;line-height:60px;border-bottom:1px solid #e6e6e6;font-size:20px;}
.notice-list{min-height:700px;overflow:hidden;}
.notice-list li{height:54px;line-height:54px;background:#fff;padding:0 30px;}
.notice-list li.even{background:#f2f2f2;}
/*正文页*/
.article-wrap{padding:0 20px;color:#020202;}
.article-wrap .title{font-size:18px;color:#000;font-weight:bold;height:34px;line-height:34px;text-align:center;}
.article-wrap .sub-msg{height:60px;line-height:60px;color:#333;font-size:12px;margin-bottom:18px;text-align:center;}
.article-wrap .article-img{margin:40px auto;}
.cont-txt {color:#454545; line-height:26px;margin-bottom:25px;}


